<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin page</title>
  </head>
  <body>
    <h1>Admin Page</h1>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Log Out</button><br />
    <script>
      form.addEventListener('submit', async (e) => {
        e.preventDefault()
        display.textContent = ''
        try {
          const res = await fetch('/auth/logout', {
            method: 'POST',
           // body: JSON.stringify({ email: email.value, password: password.value }),
            headers: { 'Content-Type': 'application/json' }
            })
         // const data = await res.json()
         // console.log(JSON.stringify(data) + " khi dang nhap")
          if (res.status === 500 || res.status === 501 || res.status === 400) {
            return display.textContent = `${data.message} ${data.error ? data.error : ''}`
          }
           else if (res.status===200){ 
         //   data.role === "admin" ? location.assign('/user/admin') : location.assign('/user/basicUser')  
            location.assign('/user/home')  
          //  return display.textContent = `${data.message} ${data.error ? data.error : ''}`
          }
        //  console.log(data.role + " khi dang nhap")
        //   if(data.role ==="admin")
        //   location.assign('/user/admin')
        //   else location.assign('/user/basicUser')
        } catch (err) {
            console.log(err.message)
          }
        })
    </script>
  </body>
</html>