<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>UI page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <script type="text/javascript" src="jquery.js"></script>
    <link rel="stylesheet" href="module/bootstrap/dist/css/bootstrap.min.css">
    <script src="module/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="UI.js"></script>
    <script src="https://unpkg.com/jimp@0.14.0/browser/lib/jimp.js"></script>
    <style>
      img {
        width: 700px;
       height: auto ;
        }
    </style>
  </head>
  <body>
    <div id="img"></div>
  </body>
</html>