html,
body{
    background-color: #f0f8ff;
}
.table {
    width: 75%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

thead{
    color: rgb(0, 0, 0);
    background:  rgb(130, 176, 228);
  }
.navbar {
    background-color: #0c426f;
  }
.text {
  font-size: 50px;
  color: blue;
  font-weight: bold;
}
.accordion {
    background-color: rgb(130, 176, 228);
    color: #444;
    cursor: pointer;
    padding: 18px; 
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
.active, .accordion:hover {
    background-color: #ccc;
  }
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}
  
button.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
#TempHum {
  color: rgb(151, 108, 220);

}

li.paginate_button.active {
  background-color: #ffffff;
  color: rgb(15, 138, 163);
}
.center {
  height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00000000;
}
.wave {
  width: 5px;
  height: 30px;
  background: linear-gradient(45deg, cyan, #000000);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
